<script src="https://cdn.bootcdn.net/ajax/libs/valine/1.4.10/Valine.min.js"></script>
<div id="vcomments"></div>
<script>
    new Valine({
        el: '#vcomments',
        appId: '<%= theme.valine.appId %>',
        appKey: '<%= theme.valine.appKey %>', 
        placeholder: '<%= theme.valine.placeholder %>' ,
        path: window.location.pathname,
        avatar: '<%= theme.valine.avatar %>',
        meta: ['nick','mail','link'],
        pageSize: '<%= theme.valine.pageSize %>',
        lang: '<%= theme.valine.lang %>',
        visitor: '<%= theme.valine.visitor %>',
        highlight: '<%= theme.valine.highlight %>',
	recordIP: '<%= theme.valine.recordIP %>',
	enableQQ: '<%= theme.valine.enableQQ %>',
    });
</script>