<script src="//cdn.jsdelivr.net/npm/@waline/client"></script>
阅读量：<span id="<%= post.path %>" class="waline-visitor-count"></span>
<div id="vcomments"></div>
<script>
    new Waline({
        el: "#vcomments",
        serverURL: "<%= theme.waline.serverURL %>",
        lang: "<%= theme.waline.lang %>",
        visitor: true,
        emoji: [
            "https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/bilibili",
            "https://cdn.jsdelivr.net/gh/walinejs/emojis@1.0.0/qq",
        ],
        placeholder: "<%= theme.waline.placeholder %>",
        dark: "<%= theme.waline.dark %>",
        meta: ["nick", "mail", "link"],
        requiredMeta: [],
        wordLimit: "<%= theme.waline.wordLimit %>",
        pageSize: "<%= theme.waline.pageSize %>",
        highlight: "<%= theme.waline.highlight %>",
        copyright: true,
        avatar: "<%= theme.waline.avatar %>",
    });
</script>
